.container {
    width: 250px;
    height: 200px;
    /* display: flex;
    justify-content: space-around; */

    /* SVG */
    border: 1px solid #720570;
}

.bar {
    /* background-color: #720570; */

    /* SVG */
    fill: #720570;
}